/* Cores do fundo */
.speakeasy-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #DEE2E6; /* Cor do fundo geral */
}

/* Wrapper que contém a parte esquerda e a direita */
.content-wrapper {
  display: flex;
  height: calc(100vh - 86px); /* Altura menos a navbar */
}

/* Painel esquerdo fixo */
.side-panel {
  width: 400px;
  background-color: #DEE2E6; /* Cor do fundo da div do formulário */
  padding: 2rem;
  position: sticky;
  top: 0;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: start;

}

.form-area {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
box-shadow:  20px 20px 60px #c9cbcd,
             -20px -20px 60px #ffffff;
}

.title-area{
  display: flex;
  height: 7rem;
  background-color: #ffffff;
  border-radius: 10px 10px 0 0;
  align-items: center;
  padding: 1rem;
}

.emotion-filter{
  padding: 1rem;
}
.emotion-filter label{
  margin: 0.5rem;
}
.emotion-filter button{
  margin: 0.5rem 0;
}

/* Área scrollável à direita */
.scrollable-content {
  flex: 1;
  overflow-y: auto;
  padding: 1rem;
  background-color: #DEE2E6;
}
.block {
  background-color: #ffffff;
  min-height: 300px;
  max-height: 800px;
  margin-bottom: 1rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
#title-area{
  width: 100%;
  margin-bottom: 1rem;
}

.chart-area{
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.chart{
  width: 400px; /* Ajuste o tamanho do gráfico */
  height: 400px;
}

.video-section {
  background-color: #ffffff;
  min-height: 300px;
  margin-bottom: 1rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 5rem;
  border-radius: 10px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#emotion-span{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
#emotion-span span {
  font-size:x-large;
  font-weight: 700;
  color: rgb(80, 80, 82);
}
